<section>
  <h2>Hola mundo</h2>

  <p>Bienvenidos a {{ title }}</p>

  <img src="{{ imagen }}" width="250" height="250">
</section>

<section>
  <h2>Property binding</h2>

  <p>
    Usando el property binding podremos cambiar dinamicamente el valor de las propiedades de los elementos html.
  </p>

  <form method="get">
    <label>
      Nombre:
      <input type="text" [value]="persona.nombre">
    </label>

    <label>
      Edad:
      <input type="text" [value]="persona.edad">
    </label>

    <button [disabled]="btnDisabled">Enviar</button>
  </form>
</section>

<section>
  <h2>Event binding</h2>

  <p>
    Usando el event binding podremos capturar eventos del DOM y mandar a llamar metodos declarados en el clase del componente.
  </p>

  <button (click)="toggleButton()">
    Boton interactivo
  </button>

  <button [disabled]="btnDisabled">Boton objetivo</button>

  <article class="container-counter">
    <button class="container-counter__btn" (click)="decreaseCounter()">
      Disminuir
    </button>
    <p class="container-counter__paragraph">
      Contador: {{ counter }}
    </p>
    <button (click)="increaseCounter()" class="container-counter__btn">
      Aumentar
    </button>
  </article>
</section>

<section>
  <h2>Data binding</h2>
</section>
