.container-counter {
  display: flex;
  column-gap: 1em;
  margin-top: 2em;
}

.container-data-binding {
  &__input:valid {
    outline: 1px solid green;
  }

  &__input:invalid {
    outline: 1px solid red;
  }
}

section {
  border-bottom: 1px solid;
  padding-bottom: 1.7em;
}

.primero {
  color: red;

  &::after {
    content: 'Primer elemento';
    margin-left: .5em;
  }
}

.ultimo {
  color: blue;

  &::after {
    content: 'Ultimo elemento';
    margin-left: .5em;
  }
}

.container-list-products {
  display: flex;
  column-gap: 2em;
  text-align: center;

  &__img {
    border-radius: 50%;
  }
}

.valid {
  opacity: 0;
  margin-bottom: 0;
  cursor: default;
  transition: opacity .5s;
  color: green;
}

.invalid {
  opacity: 1;
  transition: opacity .5s;
  color: red;
}

.input-valid {
  opacity: 0;
  font-size: .9rem;
  cursor: default;
  transition: opacity .4s;
  color: red;
  margin-top: .5em;
}

.input-invalid {
  opacity: 1;
  font-size: .9rem;
  cursor: default;
  transition: opacity .5s;
  color: red;
  margin-top: .5em;
}
