<section>
  <h2>String interpolation</h2>

  <p>
    Enlaza las propiedades y metodos del componente con el template.
  </p>

  <p>Bienvenidos a {{ title }}</p>

  <img src="{{ imagen }}" width="250" height="250" loading="lazy" decoding="async">
</section>

<section>
  <h2>Property binding</h2>

  <p>
    Usando el property binding podremos cambiar dinamicamente el valor de las propiedades de los elementos html, enlaza las propiedades y metodos del componente con el template.
  </p>

  <form method="get">
    <label>
      Nombre:
      <input type="text" [value]="persona.nombre">
    </label>

    <label>
      Edad:
      <input type="text" [value]="persona.edad">
    </label>

    <button [disabled]="btnDisabled">Enviar</button>
  </form>
</section>

<section>
  <h2>Event binding</h2>

  <p>
    Usando el event binding podremos capturar eventos del DOM y mandar a llamar metodos declarados en el clase del componente, enlaza los eventos del DOM con las propiedades y metodos del componente.
  </p>

  <button (click)="toggleButton()">
    Boton interactivo
  </button>

  <button [disabled]="btnDisabled">Boton objetivo</button>

  <article class="container-counter">
    <button class="container-counter__btn" (click)="decreaseCounter()">
      Disminuir
    </button>
    <p class="container-counter__paragraph">
      Contador: {{ counter }}
    </p>
    <button (click)="increaseCounter()" class="container-counter__btn">
      Aumentar
    </button>
  </article>
</section>

<section class="container-data-binding">
  <h2>Data binding</h2>

  <p>
    El data binding enlaza los datos entre el template y el componente, si ocurren cambios en las propiedades o metodos del componente, se veran reflejados en el template y al reves sucede igual.
  </p>

  <p>
    Nombre:
    <input type="text" [(ngModel)]="persona.nombre"  required #inputname="ngModel" class="container-data-binding__input" minlength="4" maxlength="14" name="nombre">
  </p>

  <p>Es valido el input de nombre: {{ inputname.valid }}</p>

  <p>
    Edad:
    <input type="number" min="18" max="100" [(ngModel)]="persona.edad" required #inputage="ngModel" class="container-data-binding__input">
  </p>
</section>

<section>
  <h2>Estructuras de control</h2>

  <h3>ngIf</h3>

  <p>
    El <em>ngIf</em> es un condicional, en el cual si se cumple la condicion se mostrara el elemento html. Dentro de la condicion podremos escribir codigo js o usar propiedades o metodos del componente.
  </p>

  <p>
    Su sintaxis es la siguiente: <b><code>*ngIf="condicion; then plantilla1 else plantilla2"</code></b>, donde si la condicion se cumple se muestra la plantilla1, en cosa contrario se muestra la plantilla2.
  </p>

  <p *ngIf="showParagraph; then thenBlock else elseBlock"></p>

  <ng-template #thenBlock>
    <div>
      <img src="https://www.freejpg.com.ar/asset/900/2a/2a45/F100008296.jpg" width="200" height="200" loading="lazy" decoding="async">
      <p>Se cumplio la condicion.</p>
    </div>
  </ng-template>

  <ng-template #elseBlock>
    <div>
      <img src="http://www.freejpg.com.ar/image-900/26/26e6/F100007601-ruta.jpg" width="200" height="200" loading="lazy" decoding="async">
      <p>No se cumplio la condicion.</p>
    </div>
  </ng-template>

  <button (click)="hideTemplate($event)">Mostrar plantilla2</button>
</section>

<section>
  <h2>Bucle for</h2>

  <div>
    <input type="text" [(ngModel)]="newName">

    <button (click)="insertName()">Agregar nombre</button>
  </div>

  <p>
    Listado de nombres:
  </p>

  <ul>
    <li *ngIf="nombres.length === 0">No hay nombres en la lista</li>
    <li *ngFor="let nombre of nombres; index as i">
      Indice: {{ i }} | Valor: {{ nombre }}
      <button (click)="deleteName(i)">Eliminar</button>
    </li>
  </ul>

  <p>
    Listado de nombres, identificando el primer y ultimo elemento:
  </p>

  <ul>
    <li *ngIf="nombres.length === 0">No hay nombres en la lista</li>
    <li *ngFor="let nombre of nombres; let primero = first; let ultimo = last" [ngClass]="{primero,ultimo}">
      {{ nombre }}
    </li>
  </ul>

  <p>
    Recorriendo una cadena:
  </p>
  <ul>
    <li *ngFor="let palabra of persona.nombre.split(''); let i = index">
      {{ palabra }} | {{ i }}
    </li>
  </ul>
</section>

<section class="container-products">
  <h2>Productos</h2>

  <div class="container-list-products">
    <article *ngFor="let producto of products">
      <img src="{{ producto.image }}" width="200" height="200" decoding="async" loading="lazy" class="container-list-products__img">
      <p>{{ producto.name }}</p>
      <p>$ {{ producto.price }} COP</p>
    </article>
  </div>
</section>

<section>
  <h2>ngSwitch</h2>

  <p>
    Funciona igual a un switch case en cualquier lenguaje de programacion.
  </p>

  <input type="text" [(ngModel)]="product" >

  <div [ngSwitch]="product">
    <p *ngSwitchCase="'El mejor juguete'.toLocaleLowerCase()">
      El juguete tiene un precio de: 565
    </p>

    <p *ngSwitchCase="'Bicicleta casi nueva'.toLocaleLowerCase()">
      El juguete tiene un precio de: 365
    </p>

    <p *ngSwitchCase="'Colleción de albumnes'.toLocaleLowerCase()">
      El juguete tiene un precio de: 34
    </p>

    <p *ngSwitchCase="'Mis libros'.toLocaleLowerCase()">
      El juguete tiene un precio de: 23
    </p>

    <p *ngSwitchCase="'Gafas'.toLocaleLowerCase()">
      El juguete tiene un precio de: 3434
    </p>

    <p *ngSwitchDefault>
      El juguete no existe
    </p>
  </div>
</section>

<section>
  <h2>Clases dinamicas</h2>

  <p>
    Nombre:
    <input type="text" required minlength="4" maxlength="10" [(ngModel)]="product" #nameClassDinamic="ngModel">
  </p>

  <p class="valid" [class.invalid]="nameClassDinamic.invalid">
    Este campo esta incorrecto, debe ingresar minimo 4 caracteres y maximo 10.
  </p>
</section>

<section>
  <h2>Estilos dinamicos</h2>

  <p [style.color]="colorParagraph">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati voluptates officiis dolore quaerat beatae at magni reprehenderit consequatur tempore delectus nam rerum dolorem, quia libero laudantium ab provident excepturi ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quisquam adipisci repudiandae, deserunt dolore vitae reprehenderit asperiores aut rerum aperiam velit similique aspernatur. Vero, delectus aliquam dignissimos quae placeat natus.
    Voluptas harum tenetur earum assumenda expedita quaerat molestiae. Quis a hic eum esse dolorem consequuntur est architecto culpa eos? Omnis tenetur nihil error, earum fugit temporibus laborum tempora autem. In.
  </p>

  <input type="color" [(ngModel)]="colorParagraph">

  <p [style.font-size.px]="btnDisabled ? '17' : '23'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim assumenda incidunt quia cum quos animi ab, consectetur eos, vitae maiores provident, eligendi quasi minus consequatur molestiae fugit porro quam? Porro.
    Molestiae earum laborum inventore perspiciatis dolorem, sapiente eligendi adipisci error, dolor ratione enim itaque rerum aliquam vitae accusantium! Fugit aut suscipit officia tenetur nostrum libero illo soluta porro velit harum.
    Quisquam esse laboriosam, modi illo quibusdam eaque deleniti tempore ut provident repellendus inventore beatae sed debitis quod sunt culpa cum consectetur, velit odit aperiam? Neque nostrum qui officiis! Alias, magnam!
  </p>
</section>
