.container-counter {
  display: flex;
  column-gap: 1em;
  margin-top: 2em;
}

.container-data-binding {
  &__input:valid {
    outline: 1px solid green;
  }

  &__input:invalid {
    outline: 1px solid red;
  }
}

section {
  border-bottom: 1px solid;
  padding-bottom: 1.7em;
}
